[submodule "autodefensa-digital"] 
	path = autodefensa-digital
	url = https://github.com/imdario/autodefensa-digital
[submodule "tecnologiesdisruptives2019"] 
	path = tecnologiesdisruptives2019
	url = https://github.com/imdario/tecnologiesdisruptives2019
